.skipLinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skipLinks a {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skipLinks a:focus,
.skipLinks a:active {
  left: 0;
  width: auto;
  height: auto;
  overflow: visible;
}
